body {
  font-family: arial, helvetica;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

#about {
  background: url('./../../images/logoOnly.png');
  background-attachment: fixed;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center center;
}