@media screen and (max-width: 480px) {
    
}

#basic-nav-dropdown {
    padding-top: 0;
    /* padding-bottom: 0; */
}

#basic-nav-dropdown::after {
     content: none;
}

#navbar {
    background-color: black;
}