#info {
    /* background-color: rgba(0,0,0,.0) !important; */
    /* background: url('./../../images/logoOnly.png'); */
    /* background: linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.0)), url('./../../images/logoOnly.png'); */
    /* background-attachment: fixed;
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center; */
}



