#contact{
    /* background: white; */
}

::placeholder{
    color: black;
}

#contactForm{
    padding: auto;
}

.btn {
    font-size: 2vh;

}

@media only screen and (max-width: 769px){
    #contactForm{
        margin: 5% !important;
        text-align: center;
    }
}